.qbCardShadow{
    box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.3), 5px 8px 25px 0 rgba(0, 0, 0, 0.28); 
}
.qb-event-list-wrap{
    background-color: #fff;
    margin-left: 10%;
    margin-right: 10%;
    .qb-event-wrap{
        //background-color: #903C81;
    }
    .qb-event-list{
        padding: 2.5% 10%;
        font-size: 25px;
        font-weight: 500;
        text-align: center;

        .qb-event-list-head{
            font-size: 40px;
            font-weight: 550;
            text-align: center;
            color: #3d3d3d;
            padding-top: 90px;
            padding-bottom: 20px;
        }

        .qb-event-list-events{
            display: inline-block;
            width: 550px;

            .qb-event-title-wrap{
                border: 2px solid #e5e5e5;
                padding: 20px;
                border-radius: 15px;

                .qb-event-title{
                    position: relative;
                    background-color: rgb(255, 253, 253);
                    padding: 20px;
                    opacity: 1;
                    z-index: 10;
                    overflow: hidden;
                    text-align: center;
                    border-radius: 7.5px;
                    
                    .qb-event-link{
                        text-decoration: none;
                        font-size: 20px;
                        font-weight: 550;
                        color: #3d3d3d;
                        display: inline-block;
                        -webkit-touch-callout: none;
                        -webkit-user-select: none;
                        -khtml-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        user-select: none;

                        .qb-event-title-text{
                            -webkit-touch-callout: none;
                            -webkit-user-select: none;
                            -khtml-user-select: none;
                            -moz-user-select: none;
                            -ms-user-select: none;
                            user-select: none;
                        }
                    }
                }
            }
        }
    }
}


@media (max-width: 850px){
    .qb-event-list-wrap{
        background-color: #fff;
        margin-right: 0%;
        margin-left: 0%;
        
        .qb-event-wrap{
            background-color: #903C81;
        }
        .qb-event-list{
            padding: 4% 12.5%;
            font-size: 25px;
            font-weight: 500;
            text-align: center;
    
            .qb-event-list-head{
                font-size: 30px;
                font-weight: 550;
                text-align: center;
                color: #3d3d3d;
                padding-top: 60px;
            }
    
            .qb-event-list-events{
                display: inline-block;
                width: 100%;
    
                .qb-event-title-wrap{
                    border: 2px solid #e5e5e5;
                    padding: 20px;
                    border-radius: 15px;
                    
                    .qb-event-title{
                        background-color: rgb(255, 253, 253);
                        padding: 20px;
                        opacity: 1;
                        z-index: 5;
                        overflow: hidden;
                        text-align: center;
                        border-radius: 7.5px;

                        
                        .qb-event-link{
                            text-decoration: none;
                            font-size: 20px;
                            font-weight: 550;
                            color: #3d3d3d;
        
                            .qb-event-title-text{
                            
                            }
                        }
                        
                    }
                }
            }
        }
    }
}