.qbCardShadow {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.28);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.28);
}

.ecell-cadets-wrap {
  padding-top: 100px;
  padding-left: 4%;
  padding-right: 4%;
}

.ecell-cadets-wrap .qb-ecell-cadet-wrap {
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  margin: 2.6665%;
  display: inline-block;
  width: 28%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

.ecell-cadets-wrap .qb-ecell-cadet-wrap .qb-ecell-cadet-card-wrap {
  display: inline-block;
  width: auto;
}

.ecell-cadets-wrap .qb-ecell-cadet-wrap .qb-ecell-cadet-card-wrap .qb-ecell-cadet-card .qb-ecell-cadet-card-title {
  font-size: 30px;
  padding-bottom: 20px;
}

.ecell-cadets-wrap .qb-ecell-cadet-wrap .qb-ecell-cadet-card-wrap .qb-ecell-cadet-card .qb-ecell-cadet-pic {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.ecell-cadets-wrap .qb-ecell-cadet-wrap .qb-ecell-cadet-des {
  padding-top: 20px;
  font-size: 20px;
  display: inline-block;
}

.ecell-cadets-wrap .qb-ecell-cadet-wrap .qb-ecell-cadet-des .qb-ecell-cadet-des-head {
  padding-bottom: 10px;
}

.ecell-cadets-wrap .qb-ecell-cadet-wrap .qb-ecell-cadet-des .qb-ecell-cadet-des-head span {
  font-weight: 550;
}

.ecell-cadets-wrap .qb-ecell-cadet-optns {
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}

.ecell-cadets-wrap .qb-ecell-cadet-optns .qb-ecell-cadet-btn {
  padding: 20px 20px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #08b76d;
  color: #fff;
  border-radius: 10px;
}

@media (max-width: 1200px) {
  .ecell-cadets-wrap {
    padding-top: 100px;
    padding-left: 4%;
    padding-right: 4%;
  }
  .ecell-cadets-wrap .qb-ecell-cadet-wrap {
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    margin: 5%;
    display: inline-block;
    width: 40%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: center;
  }
  .ecell-cadets-wrap .qb-ecell-cadet-wrap .qb-ecell-cadet-card-wrap {
    display: inline-block;
    width: auto;
  }
  .ecell-cadets-wrap .qb-ecell-cadet-wrap .qb-ecell-cadet-card-wrap .qb-ecell-cadet-card .qb-ecell-cadet-pic {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (max-width: 786px) {
  .ecell-cadets-wrap {
    padding-top: 100px;
    padding-left: 5%;
    padding-right: 5%;
  }
  .ecell-cadets-wrap .qb-ecell-cadet-wrap {
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    margin: 10%;
    display: inline-block;
    width: 80%;
    text-align: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .ecell-cadets-wrap .qb-ecell-cadet-wrap .qb-ecell-cadet-card-wrap {
    display: inline-block;
    width: auto;
  }
  .ecell-cadets-wrap .qb-ecell-cadet-wrap .qb-ecell-cadet-card-wrap .qb-ecell-cadet-card .qb-ecell-cadet-pic {
    width: 200px;
    height: 200px;
    border-radius: 10px;
  }
}

@media (max-width: 500px) {
  .ecell-cadets-wrap {
    padding-top: 15px;
    padding-left: 0%;
    padding-right: 0%;
  }
  .ecell-cadets-wrap .qb-ecell-cadet-wrap {
    background-color: #fff;
    border-radius: 0px;
    padding: 30px;
    margin: 10% 0%;
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .ecell-cadets-wrap .qb-ecell-cadet-wrap .qb-ecell-cadet-card-wrap {
    display: inline-block;
    width: auto;
  }
  .ecell-cadets-wrap .qb-ecell-cadet-wrap .qb-ecell-cadet-card-wrap .qb-ecell-cadet-card .qb-ecell-cadet-pic {
    width: 250px;
    height: 250px;
    border-radius: 10px;
  }
}

.ecell-cadet-btn {
  background-color: #08b76d;
  width: auto;
  display: inline-block;
  position: fixed;
  bottom: 10%;
  padding: 20px 23px;
  border-radius: 50%;
  left: 5%;
  font-size: 18 px;
  color: white;
}

@media (max-width: 600px) {
  .ecell-cadet-btn {
    background-color: #08b76d;
    width: auto;
    display: inline-block;
    position: fixed;
    bottom: 3%;
    padding: 20px 23px;
    border-radius: 50%;
    left: 5%;
    font-size: 18 px;
    color: white;
  }
}

.qb-modal-open {
  display: block;
}

.qb-modal-close {
  display: none !important;
}

.ecell-cadet-form-modal {
  width: 100%;
  height: 100%;
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0px;
  display: table;
}

.ecell-cadet-form-modal .ecell-cadet-form-modal-content {
  display: table-cell;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: auto;
  vertical-align: middle;
  text-align: center;
}

.ecell-cadet-form-modal .ecell-cadet-form-modal-content .ecell-cadet-form-wrap {
  display: inline-block;
  color: #252525;
  width: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 35px;
  padding-right: 50px;
  padding-bottom: 7px;
  padding-left: 50px;
  background-color: #fbfafa;
  border-radius: 15px;
}

.ecell-cadet-form-modal .ecell-cadet-form-modal-content .ecell-cadet-form-wrap .ecell-cadet-form-close-btn-wrap {
  display: block;
  position: relative;
  top: -20px;
  text-align: right;
}

.ecell-cadet-form-modal .ecell-cadet-form-modal-content .ecell-cadet-form-wrap .ecell-cadet-form-close-btn-wrap .ecell-cadet-form-close-btn {
  display: inline-block;
  font-size: 25px;
  position: relative;
  right: -20px;
}

.ecell-cadet-form-modal .ecell-cadet-form-modal-content .ecell-cadet-form-wrap .ecell-cadet-form {
  width: 550px;
  position: relative;
  top: -30px;
}

.ecell-cadet-form-modal .ecell-cadet-form-modal-content .ecell-cadet-form-wrap .ecell-cadet-form .ecell-cadet-form-title {
  font-size: 35px;
  font-weight: 550;
  padding-bottom: 20px;
  position: relative;
  top: -7px;
}

.ecell-cadet-form-modal .ecell-cadet-form-modal-content .ecell-cadet-form-wrap .ecell-cadet-form .ecell-cadet-form-submit-btn-wrap {
  text-align: right;
}

.ecell-cadet-form-modal .ecell-cadet-form-modal-content .ecell-cadet-form-wrap .ecell-cadet-form .ecell-cadet-form-submit-btn-wrap .ecell-cadet-form-submit-btn {
  display: inline-block;
  width: auto;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #08b76d;
  color: #fff;
  border-radius: 10px;
}

.qb-label {
  display: inline-block;
}

.qb-label label {
  width: 104.33px;
  text-align: right;
}

@media (max-width: 670px) {
  .qb-label {
    display: block;
  }
  .qb-label label {
    width: 100%;
    text-align: left;
  }
  .ecell-cadet-form-modal {
    width: 100%;
    height: 100%;
    z-index: 200;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0px;
  }
  .ecell-cadet-form-modal .ecell-cadet-form-modal-content {
    display: block;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    width: 100%;
    position: fixed;
    height: auto;
    vertical-align: unset;
    text-align: unset;
  }
  .ecell-cadet-form-modal .ecell-cadet-form-modal-content .ecell-cadet-form-wrap {
    display: inline-block;
    color: #252525;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-top: 35px;
    padding-right: 50px;
    padding-bottom: 7px;
    padding-left: 50px;
    background-color: #fbfafa;
    border-radius: 0px;
  }
  .ecell-cadet-form-modal .ecell-cadet-form-modal-content .ecell-cadet-form-wrap .ecell-cadet-form-close-btn-wrap {
    display: block;
    position: relative;
    top: -20px;
    text-align: right;
  }
  .ecell-cadet-form-modal .ecell-cadet-form-modal-content .ecell-cadet-form-wrap .ecell-cadet-form-close-btn-wrap .ecell-cadet-form-close-btn {
    display: inline-block;
    font-size: 25px;
    position: relative;
    right: -20px;
  }
  .ecell-cadet-form-modal .ecell-cadet-form-modal-content .ecell-cadet-form-wrap .ecell-cadet-form {
    width: 100%;
    position: relative;
    top: -30px;
  }
  .ecell-cadet-form-modal .ecell-cadet-form-modal-content .ecell-cadet-form-wrap .ecell-cadet-form .ecell-cadet-form-title {
    text-align: center;
    font-size: 30px;
    font-weight: 550;
    padding-bottom: 20px;
    position: relative;
    top: -7px;
  }
  .ecell-cadet-form-modal .ecell-cadet-form-modal-content .ecell-cadet-form-wrap .ecell-cadet-form .ecell-cadet-form-submit-btn-wrap {
    text-align: right;
  }
  .ecell-cadet-form-modal .ecell-cadet-form-modal-content .ecell-cadet-form-wrap .ecell-cadet-form .ecell-cadet-form-submit-btn-wrap .ecell-cadet-form-submit-btn {
    display: inline-block;
    width: auto;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #08b76d;
    color: #fff;
    border-radius: 10px;
  }
}
/*# sourceMappingURL=ECellCadets.css.map */