.qbCardShadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.28); 
}

.App{
    background-image: linear-gradient(to bottom, #2A7CB0, #3C4083);
    .qb-container{
        padding: 0% 0%;
        position: relative;
    }
}

@media (max-width: 600px){
    .App{
        background-image: linear-gradient(to bottom, #2A7CB0, #3C4083);
        .qb-container{
            padding: 0% 0%;
            position: relative;
        }
    }
}